*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background: #BAD7E9;
}

.container{
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #0081C9;
}

.profile-box-profile{
    background-color: rgb(255, 255, 255, 0.5);
    text-align: center;
    padding: 50px 40px;
    border-radius: 12px;
    position: relative;
    height: 460px;
    width: 350px;
}

.profile-box-profile .btn button{
    padding: 10px 10px;
    border-radius: 20px;
    border: none;
    border: none;
    font-size: 1em;
    font-weight: 300;
    background: white;
    color: black;
}

.profile-box-create{
    background-color: rgb(255, 255, 255, 0.5);
    text-align: center;
    padding: 50px 40px;
    border-radius: 12px;
    position: relative;
    height: 480px;
    width: 350px;
}

.profile-box-create .btn button{
    padding: 10px 10px;
    border-radius: 20px;
    border: none;
    border: none;
    font-size: 1em;
    font-weight: 300;
    background: white;
    color: black;
}

.profile-box{
    background-color: rgb(255, 255, 255, 0.5);
    text-align: center;
    padding: 50px 40px;
    border-radius: 12px;
    position: relative;
    height: 600px;
    width: 350px;
}

.profile-box .btn button{
    padding: 10px 10px;
    border-radius: 20px;
    border: none;
    border: none;
    font-size: 1em;
    font-weight: 300;
    background: white;
    color: black;
}

.profile-pic{
    width: 145px;
    height: 160px;
    border-radius: 50%;
    background-color: white;
    padding: 5px;
    margin-top: 25px;
}

.input-box input{
    padding: 10px 10px;
    border-radius: 20px;
    border: none;
    border: none;
    font-size: 1em;
    font-weight: 300;
    background: white;
    color: black;
}

.input-box select{
    padding: 10px 10px;
    border-radius: 20px;
    border: none;
    border: none;
    font-size: 1em;
    font-weight: 300;
    background: white;
    color: black;
}

.container .profile-box .class-error{
    color: rgb(182, 26, 26);
}

.data-mahasiswa{
    text-align: center;
    margin: 0 auto;
    margin-top: 25px;
    
  }

.data-box{
    margin : 20px auto; 
    color: #0081C9;
    position: relative;
}

.tabel-box{
    background-color: rgb(255, 255, 255, 0.5);
    text-align: center;
    padding: 50px 40px;
    border-radius: 12px;
    position: relative;
    align-items: center;
}

.table-user {
    border-collapse: collapse;
    width: 50%;
    border-radius: 50px;
    width: 100%;
    align-items: center;
    align-content: center;
}
 
.table-user tr th{
    font-weight: normal;
    border: 1px solid #ffffff;
}
 
.table-user, th, td {
    padding: 8px 20px;
    text-align: center;
    border: 1px solid #ffffff;
}
 
.table-user tr{
    background-color: #ffff;
    border: 1px solid #ffffff;
}

.table-user th{
    border: 1px solid #ffffff;
}

.table-user td{
    border: 1px solid #ffffff;
}